.box {
  height: 50px;
  width: 100px;
  background-color: green;
  margin: 10px;
  border: 1px solid yellow;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.grid{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}